:root {
    --light-color: rgb(107, 107, 107);
    --highlight-color: #ec5c3b;
    --highlight-color-dark: #ac3d25;
    --highlight-two: #65809b;
    --highlight-two-dark: #2E3A46;
    --bg-color-one: rgb(247, 247, 247);
    --bg-color-two: white;
    --default-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body {
    background-image: url("assets/backdrop.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 50px 100px;
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.pad-left-10 {
    padding-left: 10px;
}

.disabled {
    pointer-events: none;
}

.hide {
    display: none;
}

/* button */

.btn {
    font-size: 14px;
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: var(--highlight-color);
    border: none;
}

.btn:hover, .btn:active, .btn:focus, .btn:target, .btn:visited {
    background-color: var(--highlight-color-dark);
    box-shadow: var(--default-box-shadow);
}

.btn-half {
    width: 48%;
    background-color: var(--bg-color-two);
    color: var(--highlight-two);
    /* font-weight: 700; */
}

.btn-half:hover, .btn-half:active, .btn-half:focus, .btn-half:target, .btn-half:visited {
    background-color: var(--bg-color-two);
    color: var(--highlight-two);
}

.btn-half.active {
    pointer-events: none;
    background-color: var(--highlight-two);
    color: white;
    box-shadow: var(--default-box-shadow);
}


/* card */

.card {
    max-width: 350px;
    box-shadow: var(--default-box-shadow);
    min-height: 400px;
    border-radius: 0;
    background-color: var(--bg-color-one);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px;
}

.section-wrapper {
    padding: 10px 20px;
    width: 100%;
    margin: 10px;
    background-color: var(--bg-color-two);
}


/* text */

.title {
    font-size: 14px;
}


.light-text {
    color: var(--light-color)
}

.bold {
    font-weight: 700;
}

.highlight {
    color: var(--highlight-color);
}

/* price */

.price-wrapper {
    text-align: center;
    margin: 0px 0 20px 0;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 24px;
}